<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <h1>Register</h1>
      <div *ngIf='api.initialUserData.userEmail'>        
        <h1> Hi, {{api.initialUserData.userName}}</h1> 
        <p>please, fill the form below</p>
        <div>
          DATA:
          {{api.initialUserData | json}}
        </div> 
        <div class="form-container">
          <mat-form-field>
              <input matInput placeholder="Your name" [formControl]="name" [(ngModel)]="api.initialUserData.userName" name="name" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput type="email" placeholder="Your email" [formControl]="email" [(ngModel)]="api.initialUserData.userEmail" name="email" required>           
          </mat-form-field> 
          <br>
          <mat-form-field>
            <input matInput type="password" placeholder="Enter password" [formControl]="password" [(ngModel)]="api.initialUserData.password" name="password" required>           
          </mat-form-field> 
          <br>
          <mat-form-field>
            <input matInput type="password" placeholder="Confirm password" [formControl]="passwordconfirm" [(ngModel)]="api.initialUserData.passwordConfirm" name="passwordConfirm" required>           
          </mat-form-field> 
        </div> 
        <button [disabled]="email.invalid || name.invalid || password.invalid || passwordconfirm.invalid"  (click)="register(); $event.preventDefault()" mat-raised-button color="primary" >
          <span *ngIf="!(email.invalid || name.invalid || password.invalid || passwordconfirm.invalid)" >Register</span>
          <span *ngIf="email.invalid || name.invalid || password.invalid || passwordconfirm.invalid" matTooltip="Fill all fields to activate">Register</span>
        </button>        
      </div>
      <div *ngIf='!api.initialUserData.userEmail'>
        <h1>Loading...</h1>
      </div>      
     
    </div>

  </div>

</div>