
<div class="horizontal-allign-center">
  <div class="column">
    <div class="width-800px">
      <h1>Welcome to Clockwise Clockwork</h1>
      <p>If you Grandfather Clock brakes somehow our professional master will repair it </p>
      <p>
        To order master just fill the form below
      </p>
    </div>
    <div   *ngIf="!isFormSubmitted" class="width-300px">
      <form #form="ngForm" novalidate name="form" class="form-container">
        <mat-form-field>
          <input  matInput placeholder="Your Name" 
                  [formControl]="name"
                  [ngModel]="submitedForm.name" 
                  (ngModelChange)="submitedForm.name=$event" 
                  pattern="...+"
                  name="Name" required>
          <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>        
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Your Email" type="email" [formControl]="email" [(ngModel)]="submitedForm.email" name="Email" required>
          <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>  

        <mat-form-field>
          <mat-select placeholder="Choose Your City" [formControl]="city" [(ngModel)]="submitedForm.city" name="city" required>
            <mat-option *ngFor="let city of api.cities" [value]="city.cityName" >{{city.cityName}}</mat-option>
          </mat-select>
          <mat-error *ngIf="city.invalid">{{getCityErrorMessage()}}</mat-error>
        </mat-form-field>
        
        <mat-form-field>
          <input matInput [formControl]="date" [min]="minDate" [matDatepicker]="picker" placeholder="Choose date when master to come" [(ngModel)]="submitedForm.date" name="date" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="date.invalid">{{getDateErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Choose time when to start" [formControl]="time" [(ngModel)]="submitedForm.startHour" name="workhour" required>
            <mat-option *ngFor="let hour of workHours" [value]="hour.hour" >{{hour.hour +":00"}}</mat-option>
          </mat-select>
          <mat-error *ngIf="time.invalid">{{getTimeErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Choose your clock size" [formControl]="size" [(ngModel)]="submitedForm.workTime" name="clocksize" required>
            <mat-option *ngFor="let clock of clockSize" [value]="clock.workTime" >{{clock.size}}</mat-option>
          </mat-select>
          <mat-error *ngIf="size.invalid">{{getSizeErrorMessage()}}</mat-error>
        </mat-form-field>  
        <button [disabled]="size.invalid || time.invalid || date.invalid || city.invalid || email.invalid || name.invalid" (click)="find(); $event.preventDefault()" mat-raised-button color="primary" >
          <span *ngIf="!(size.invalid || time.invalid || date.invalid || city.invalid || email.invalid || name.invalid)">Find master</span>
          <span *ngIf="size.invalid || time.invalid || date.invalid || city.invalid || email.invalid || name.invalid" matTooltip="Fill all fields to activate">Find master</span>
        </button>       
      </form>
    </div>
    <div class="width-800px"  *ngIf="isFormSubmitted">
      <div class="wrapper1">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Change date" [(ngModel)]="submitedForm.date" name="date1" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Change time" [(ngModel)]="submitedForm.startHour" name="workhour1" required>
            <mat-option *ngFor="let hour of workHours" [value]="hour.hour" >{{hour.hour +":00"}}</mat-option>
          </mat-select>
        </mat-form-field>

        <button (click)="find()" mat-raised-button color="primary" type="submit" >Find Free Masters</button>
          
      </div>

      
      <mat-divider></mat-divider>

      <div *ngIf="api.arr?.length">
        <h1>Please choose preferred master</h1>
        <mat-list *ngFor="let master of api.arr" class="width-300px-allign-start">  
          <mat-list-item>
            <h4 mat-line>Name: {{master.name }} </h4>
            <h3 mat-line>from {{master.city}}</h3>
            <p mat-line>Rating: {{master.rating | json}}</p> 
            <button  mat-line (click)="makeOrder(master._id)" mat-raised-button color="primary" type="submit" >Order this master</button>   
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
      </div>
      <div *ngIf="!api.arr?.length" >
        <h1>Sorry, all masters are busy at this time. Choose another time or date</h1>
      </div>

    </div>
    
  </div>
 

  
</div>
 

 

