.section-1{
  color:white;
  padding: 100px 0 100px 0;
  margin-left: 10%;
  margin-right: 10%;
  
  
}
.cc-background-img{
  background-image: url("assets/images/cc-backgound.jpg");
  background-repeat: no-repeat;
  opacity: 0.95;
  z-index: -1;
  margin-bottom: 0;
}
.cc-background-color{
  padding-top:80px;
  padding-bottom:80px;
  margin-top: 0;
  background-color: rgba(247, 181, 105, 0.952);
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;  
}

.content-item {  
  text-align: center;
  color: darkcyan;
} 
.form-container{ 
  flex-direction: column;
  width: 300px;  
  padding: 5px;
  margin: 20px;
  border-style: solid;
  border-color: rgba(139, 91, 2, 0.575);
  background-color: rgba(247, 216, 181, 0.952);
  color: rgba(75, 60, 44, 0.952);
}

.form-container> * {
  width: 100%;
}

.master-font{
  color: darkcyan;
  font-weight: bold;
}
button{
  margin: 5px;
}
