.row-justify-center {
  display: flex;
  flex-direction: row;
  justify-content: center;  
}
.column {
  flex-direction: column;
  border-style: solid;
  border-color: rgba(153, 180, 180, 0.575);
  background-color: ghostwhite
}
.content-item {
  flex-direction: column;
  width: 800px;  
  text-align: center;
  color: darkcyan;
  margin-top: 20px;
}
.form-container{ 
  flex-direction: column;
  width: 300px;  
  padding: 5px;
  margin: 20px;
  border-style: solid;
  border-color: rgba(153, 180, 180, 0.575);
  background-color: rgba(247, 255, 255, 0.952);
}

.width-300px {
  flex-direction: column;
  width: 300px;  
}
.width-300px-allign-start{
  flex-direction: column;
  width: 300px;  
  justify-content: flex-start;
}


.form-container> * {
  width: 100%;
}
.main {
  flex-grow: 1;
  flex-shrink: 0;
}
