<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <h1>SETTINGS</h1>
      <mat-list>
      <h2>Prices for different clock sizes</h2>
      <mat-list-item *ngFor="let item of clockSize">
        <h4 mat-line>Size of a clock - <b>{{item.clockSize}}</b></h4>
        <p mat-line>Duration of work: <b>{{item.workHours}}</b>hr </p>
        <p mat-line>Price: <b>${{item.price}}</b> </p>
        <button mat-button (click)="openDialogEditItem(item)"><mat-icon>edit</mat-icon></button>
        <button mat-button (click)="openDialogDeleteItem(item)"><mat-icon class="red">delete</mat-icon></button>
        <mat-divider></mat-divider>
      </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>



