<div class="container">
  <div class="row" *ngIf="!cities[0]">Loading...</div>
  <div class="row" *ngIf="cities[0]">

    <div class="col-xl-12">
      <h1>SCHEDULE</h1>
      <mat-form-field>
        <mat-select  placeholder="City" [(ngModel)]="ScheduleForm.city" name="city" required>
          <mat-option  *ngFor="let city of cities" [value]="city" >{{city.cityName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="ScheduleForm.date" name="date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button (click)="find()" mat-raised-button color="primary" type="submit" >Find</button>
    </div>

    <div class="col-xl-12">
      <h2>City: {{ ScheduleForm.city.cityName }}</h2>
      <h3>Date: {{ScheduleForm.date | date}}</h3>
      <div class="table-style mat-elevation-z8">

        <mat-table #table [dataSource]="schedule" *ngIf="schedule[0]">

          <ng-container matColumnDef="name" class="width-style">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.masterName}} </mat-cell>
          </ng-container>

          <ng-container *ngFor="let column of schedule[0].hours; let i = index" matColumnDef="{{(i + start).toString()}}">
            <mat-header-cell *matHeaderCellDef> {{(i + start).toString()}}:00 </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.hours[i] }} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>

    </div>
  </div>

</div>

  



