      
<mat-list>
  <mat-list-item *ngFor="let city of api.cities">
    <h4 mat-line>{{city.cityName}}</h4> 
    <button mat-button (click)="openDialogEditCity(city)">Edit</button>
    <button mat-button (click)="api.delete(city._id, 'city')">Delete</button>           
  </mat-list-item>
</mat-list>
<h3>Add new city</h3>
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Add new city" [(ngModel)]="newCity" name="newCity">
  </mat-form-field>
  <button (click)="addNewCity()" mat-raised-button color="primary" type="submit" >Add new city</button>
</div>    

<mat-form-field>
  <input matInput value="Disco party!" placeholder="Message" #message>
</mat-form-field>

<mat-form-field>
  <input matInput value="Dance" placeholder="Action" #action>
</mat-form-field>

<button mat-button (click)="openSnackBar('message.value')">Show snack-bar</button>