<mat-list> 
  <mat-list-item *ngFor="let client of api.clients">
    <h4 mat-line>Name: {{client.name}}</h4> 
    <h3 mat-line>Email: {{client.email}}</h3>    
    <button mat-button (click)="openDialog(client)"><mat-icon>edit</mat-icon></button>
    <!-- <button mat-button (click)="api.delete(client._id, 'client')"><mat-icon>delete</mat-icon></button>           -->
    <button mat-button (click)="openDialogDeleteClient(client)"><mat-icon>delete</mat-icon></button>           

    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>  



