<h1 mat-dialog-title>Edit</h1>
<div mat-dialog-content>  
  <form>
 
    <mat-form-field>
      <mat-select placeholder="ID"  [(ngModel)]="data.id" name="ID" disabled >
        <mat-option *ngFor="let order of api.orders" [value]="order.id" >{{order.id}}</mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="masterRatingEdit.invalid">{{getMasterRatingMessage()}}</mat-error> -->
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="city"  [(ngModel)]="data.cityID" name="cityID" required>
          <mat-option *ngFor="let city of api.cities" [value]="city.id" >{{city.cityName}}</mat-option>
        </mat-select>     
    </mat-form-field>     
    <mat-form-field>
        <mat-select placeholder="master"  [(ngModel)]="data.masterID" name="masterID" required>
          <mat-option *ngFor="let master of api.masters" [value]="master.id" >{{master.masterName}}</mat-option>
        </mat-select>       
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="client email"  [(ngModel)]="data.clientID" name="clientID" required>
          <mat-option *ngFor="let client of api.clients" [value]="client.id" >{{client.clientEmail}}</mat-option>
        </mat-select>       
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="date" [(ngModel)]="data.date" name="date" required>     
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="time" [(ngModel)]="data.time" name="time" required>     
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="duration" [(ngModel)]="data.duration" name="duration" required>     
    </mat-form-field>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCloseButtonClick()">Cancel</button>
  <button mat-button [mat-dialog-close]  (click)="edit(data)" cdkFocusInitial>Save</button>
</div>