.mat-column-id{
    flex: 0 0 65px;
}
.mat-column-userName{
    flex: 0 0 170px;
}
.mat-column-userEmail{
    flex: 0 0 190px;
}
.mat-column-city{
    flex: 0 0 110px;
}
.mat-column-time{
    flex: 0 0 70px;
}
.mat-column-duration{
    flex: 0 0 70px;
}
.mat-column-item{
  flex: 0 0 70px;
}
.mat-column-price{
  flex: 0 0 70px;
}
.mat-column-date{
    flex: 0 0 100px;
}
.mat-column-master{
    flex: 0 0 130px;
}
.mat-column-paid{
    flex: 0 0 90px;
}
.mat-column-completed{
    flex: 0 0 100px;
}
.mat-column-Action{
    flex: 0 0 80px;
}
.delete{
  color: crimson;
}
.cancel{
  color: darkorange;
}
.red{
  color: crimson;
  flex: 0 0 90px;
  font-size: 14px;
}
.green{
  color: forestgreen;
  flex: 0 0 90px;
  font-size: 14px;
}
.orange{
  color: darkorange;
  flex: 0 0 90px;
  font-size: 14px;
}
.row{
  width: 1350px;
}






