<h1 mat-dialog-title>Edit</h1>
<div mat-dialog-content>  
  <form>
    <mat-form-field>
      <input matInput placeholder="name" [formControl]="masterName" [(ngModel)]="data.masterName"  name="name" required>
      <mat-error *ngIf="masterName.invalid">{{getMasterNameErrorMessage()}}</mat-error>
    </mat-form-field>  
    <mat-form-field>
      <mat-select placeholder="Rating" [formControl]="masterRatingEdit" [(ngModel)]="data.masterRating" name="rating" required>
        <mat-option *ngFor="let rating of masterRating" [value]="rating.mark" >{{rating.mark}}</mat-option>
      </mat-select>
      <mat-error *ngIf="masterRatingEdit.invalid">{{getMasterRatingMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="City" [formControl]="masterCity" [(ngModel)]="data.cityID" name="city" required>
        <mat-option *ngFor="let city of data.cities" [value]="city.id" >{{city.cityName}}</mat-option>
      </mat-select>
      <mat-error *ngIf="masterCity.invalid">{{getMasterCityMessage()}}</mat-error>
    </mat-form-field>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCloseButtonClick()">Cancel</button>
  <button mat-button [mat-dialog-close] [disabled]="masterName.invalid || masterRatingEdit.invalid || masterCity.invalid" (click)="edit(data)" cdkFocusInitial>Save</button>
</div>
