#background-color{
    background-color: darkcyan;
}
.home-buttone{
    color: rgb(253, 235, 74);
    font-weight: bold;   
    font-size: 20px;
    cursor: pointer;
}
.font-color{
    color: rgb(253, 235, 74);      
    font-size: 15px 
}
.navbar{
    z-index: 2;
}