<nav class="navbar navbar-dark bg-dark">
  <h2 class="home-buttone" routerLink="./" routerLinkActive="active-link">Clockwise Clockwork</h2>

  <button
      mat-button
      *ngIf="auth0.isAuthenticated()"
      routerLink="./account" r
      outerLinkActive="active-link" >
    <span class="font-color">Account</span>
  </button>

  <button
      mat-button
      *ngIf="auth0.isAuthenticated()"
      routerLink="./history"
      routerLinkActive="active-link">
    <span class="font-color">History</span>
  </button>

  <span style="flex: 1 1 auto"></span>


  <button
    mat-button
    *ngIf="auth0.isAuthenticated()&&auth0.isAdmin()"
    routerLink="./admin"
    routerLinkActive="active-link" >
    <span class="font-color">Admin</span>
  </button>

  <button
      class="btn btn-outline-success btn-margin"
      (click)="auth0.login()"
      *ngIf="!auth0.isAuthenticated()">
    Login / Sign Up
  </button>

  <button
    class="btn btn-outline-warning btn-margin"
    *ngIf="auth0.isAuthenticated()"
    (click)="auth0.logout()">
    Log Out
  </button>

  <!--<button-->
      <!--mat-button-->
      <!--*ngIf="!api.isLoggedIn()"-->
      <!--(click)="openDialog()">-->
    <!--<span class="font-color">Login</span>-->
  <!--</button>-->



  <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
  <!--<button-->
      <!--mat-button-->
      <!--*ngIf="!api.isLoggedIn()"-->
      <!--(click)="socialSignIn('google')">-->
    <!--<span class="font-color">Sign in with Google</span>-->
  <!--</button>-->

  <!--<button-->
      <!--mat-button-->
      <!--*ngIf="api.isLoggedIn()"-->
      <!--(click)="logout()">-->
    <!--<span class="font-color">Logout</span>-->
  <!--</button>-->
</nav>
